* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.featured-properties {
    padding-block: 2rem;
    background-color: #000;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.featured-text {
    display: flex;
    align-items: center;
}

.featured-text button {
    border-color: #A685fA;
    background-color: rgba(166, 133, 250, .5);
    font-weight: bolder;
    transition: all ease-in .6s;
    text-wrap: nowrap;
}

.featured-text button:hover {
    /* background-color: #A685fA; */
    background-color: rgba(166, 133, 250, .8);
}

.featured-description h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    max-width: 80%;
}

.featured-description p {
    font-size: .9rem;
    max-width: 80%;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.scroll-info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 15px;
    text-wrap: nowrap;
}

.featured-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 32.4%;
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.property {
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 270px;
    border-radius: 15px;
    object-fit: cover;
}

.property-summary {
    width: 100%;
}

.property-summary h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.property-summary > p {
    font-size: .9rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.property-component {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    gap: 9px;
    margin-bottom: 1rem;
}

.comp {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: .4rem .6rem;
    text-wrap: nowrap;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.comp span {
    font-size: .8rem;
}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-details p {
    font-size: .9rem;
    margin-bottom: .3rem;
}

.price-details h4 {
    font-size: 1.2rem;
    font-weight: lighter;
}

.offer button {
    background-color: rgba(166, 133, 250, .5);
    transition: all ease-in .5s;
    padding: 1.2rem 2.5rem;
}

.offer button:hover {
    background-color: rgba(166, 133, 250, .8);
}




@media screen and (max-width: 1300px) {
    .featured-content {
        grid-auto-columns: 32%;
    }

    .offer {
        flex-direction: column;
        gap: 1rem;
        /* justify-content: s; */
        align-items: flex-start;
    }
}

@media screen and (max-width: 800px) {
    .featured-content {
        grid-auto-columns: 48%;
    }

    .offer {
        flex-direction: column;
        gap: 1rem;
        /* justify-content: s; */
        align-items: flex-start;
    }
}

@media screen and (max-width: 550px) {
    .featured-content {
        grid-auto-columns: 98%;
    }
}