.featured-properties {
    padding-block: 3rem;
    background-color: #fff;
    color: #000;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    overflow: hidden;
}

.featured-text {
    display: flex;
    align-items: center;
}

.featured-text button {
    height: 45px;
    padding-inline: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #31B6C4;
    cursor: pointer;
    transition: all ease-in .4s;
    text-wrap: nowrap;
    background-color: #31B6C4;
    color: #fff;
}

.featured-text button:hover {
    color: #31B6C4;
    background-color: #fff;
}

.featured-description h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    width: 80%;
}

.featured-description p {
    font-size: 1.1rem;
    font-weight: 500;
    width: 80%;
    margin-bottom: 1rem;
    line-height: 1.6rem;
    letter-spacing: 1.5px;
    color: #2E3B47;
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.arrows .arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #31B6C4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.featured-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.featured-content {
    display: flex;
    gap: 10px;
    width: 1240px;
    scrollbar-width: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}





@media screen and (max-width: 1300px) {
    .featured-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .featured-description {
        width: 100%;
    }
    
    .featured-description p {
        width: 100%;
    }

}

@media screen and (max-width: 1280px) {
    .featured-content {
        width: 930px;
    }
}

@media screen and (max-width: 965px) {
    .featured-content {
        width: 620px;
    }
}

@media screen and (max-width: 670px) {
    .featured-content {
        width: 310px;
    }
}