* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;

    position: fixed;
    width: 100%;
    z-index: 4;
    transition: all ease-out .5s;
}

.scroll {
    background-color: #31B6C4;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.logo img {
    cursor: pointer;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; 
    list-style: none;
}

.nav-list button {
    display: none;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color ease-in .5s;
}

.nav-link:hover {
    background-color: #000;
}

.make-active {
    background-color: #000;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu button {
    font-size: 1rem;
    height: 3rem;
    padding-inline: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all ease-in .5s;
}

.menu button.contact {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.menu button.contact:hover {
    background-color: #fff;
    color: #000;
}

button.login {
    color: #31B6C4;
    background-color: #fff;
    font-weight: bolder;
}

.login:hover {
    color: #fff;
    background-color: #31B6C4;
}

.menu-bar {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-list {
        gap: 5px;
    }
    
    .nav-link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .nav-bar {
        display: none;
    }

    .menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav-list {
        flex-direction: column;
    }

    .menu-nav-bar {
        position: absolute;
        right: 10px;
        top: 100px;
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 1rem;
        background-color: #000;
        /* height: calc(100vh - 120px); */
        height: 55vh;
        /* transition: all ease-in 1s; */
    }

    .menu-nav-bar .nav-list li {
        padding: 1.5rem 2rem;
        border-bottom: 2px solid #222;
    }

    .nav-link:hover {
        background-color: #141414;
    }
}


@media screen and (max-width: 500px) {
    .nav-list button {
        display: block;
    }

    .menu button {
        display: none;
    }
}