.hero-container {
    background-color: #2E3D47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    gap: 10px;
    height: 100vh;
}

.hero-container .hero-content {
    width: 47%;
    margin-left: 70px;
}

.hero-container .hero-content h1{
    font-size: 2.5rem;
    max-width: 80%;
    margin-bottom: 2rem;
}

.hero-container .hero-content h1 span {
    color: #31B6C4;
}

.hero-container .hero-content > p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
    width: 90%;
    letter-spacing: 1.5px;
}

.hero-content .action-btn {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.hero-container .hero-content button {
    height: 45px;
    padding-inline: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #31B6C4;
    cursor: pointer;
    transition: all ease-in .4s;
}

.hero-content .learn-more {
    color: #2E3D47;
}

.hero-content .learn-more:hover {
    background-color: #31B6C4;
    color: #fff;
}

.hero-content .browse-properties {
    background-color: #31B6C4;
}

.hero-content .browse-properties:hover {
    background-color: #fff;
}

.users-summary {
    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.review {
    border: 1px solid #31B6C4;
    border-radius: 10px;
    padding: 12px;
}

.review p {
    font-size: .7rem;
    line-height: 1.3rem;
}


.hero-container .hero-image {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .action-btn {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .hero-container .hero-image {
        display: none;
    }

    .hero-container .hero-content {
        width: 100%;
        margin-inline: 20px;
    }

    .action-btn {
        flex-direction: row;
    }
}
